:root {
    --black : #000;
    --white : #fff;
    --light-blue : #10258D;
    --light-green : #018739;
    --green : #008738;
    --blue : #0F248D;
    --linear-blue : #7B90F7;
}

* {
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    margin-left: auto!important;
    margin-right: auto!important;
}


img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.btn {
    border: none;
    box-shadow: none;
    padding: 12px 16px;
    font-size: 20px;
    color: var(--white);
    border-radius: 8px;
}
.badge {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid var(--light-blue);
    border-radius: 29px;
    color: var(--light-blue);
}
ul {
    list-style: none;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 36px;
    justify-content: space-between;
    align-items: center;
    margin: 24px 36px;
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        img {
            width: 48px;
        }
        .logo_text {
            font-weight: bold;
            font-size: 24px;
            color: var(--blue);
            span {
                color: var(--green);
            }
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        gap: 64px;
        font-weight: normal;
        font-size: 20px;
        li {
            a {
                color: var(--black);
                padding-bottom: 4px;
                transition: 300ms ease-in-out all            }
            &:hover {
                a {
                    border-bottom: 3px solid var(--light-blue);
                }
            }
        }
    }
    button {
        background: var(--blue);
        width: 200px;
    }
}

section {
    color: white;
    position: relative;
}

.card {
    position: relative;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
section#hero {
    padding: 20px 32px;
    background-image: url('../img/hero_bg.png');
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    .hero_content {
        max-width: 50%;
        h6 {
            font-weight: normal;
            font-size: 20px;
            padding-bottom: 8px;
        }
        h3 {
            font-size: 46px;
            font-weight: bold;
        }
        p {
            margin: 24px 0;
            font-size: 12px;
        }
        button {
            background: var(--light-green);
        }
    }
    img {
        width: 579px;
        height: 768px;
        max-height: 80vh;
    }
}
.specialities {
    background: white;
    padding: 48px 80px;
    margin: -100px 32px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 140px;
    box-shadow: 0 4px rgba(0,0,0,0.35);
    .speciality {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--blue);
            font-weight: normal;
            font-size: 20px;
            img {
                width: 86px;
            }
        }
        .description {
            color: black;
            font-size: 11px;
        }
    }
}
section#about {
    position: relative;
    margin-top: 60px;
    color: black;
    .header_block {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        font-weight: bold;
        font-size: 46px;
        .header_content {
            width: 66.666666%;
            span {
                color: var(--light-blue);
            }
        }
        .badge {
            left: 46px;
            top: 10px;
        }
    }
    .about_content {
        margin: 0 32px;
        padding: 12px 32px;
        .img_grid {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 400px;
            img:nth-child(1) {
                width: 145px;
                height: 243px;
            }
            img:nth-child(2) {
                width: 145px;
                height: 105px;
            }
            img:nth-child(3) {
                width: 616px;
                height: 382px;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h6 {
                font-weight: normal;
                font-size: 20px;
            }
            p {
                font-weight: normal;
                font-size: 15px;
                span {
                    color: var(--light-blue);
                }
            }
        }
    }

    .award_list {
        position: relative;
        color: var(--light-blue);
        padding: 20px 32px;
        .top {
            display: flex;
            position: relative;
            width: 100%;
            margin-bottom: 48px;
            .period {
                text-decoration: underline;
            }
            .badge {
                right: 0;
                left: auto;
            }
        }
        .awards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 120px;

            .award {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .icon {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: var(--blue);
                    font-weight: normal;
                    font-size: 20px;

                    img {
                        width: 86px;
                    }
                }

                .description {
                    color: black;
                    font-size: 11px;
                }
            }
        }

    }
    button {
        position: absolute;
        left: 50%;
        bottom: -50%;
        background: var(--light-green);
    }
}
section#our_service {
    padding: 48px 80px;
    .top {
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        width: 100%;
        margin-bottom: 48px;
        .period {
            text-decoration: underline;
        }
        .badge {
            padding-left: 32px;
            padding-right: 32px;

        }
    }
    .services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 60px;
        .service {
            border: 1px solid var(--light-blue);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img {
                height: 260px;
                object-fit: cover;
                object-position: center;
            }
            .content {
                padding: 12px 20px;
                h6 {
                    color: var(--light-blue);
                }
                p {
                    color: var(--black);
                }
                button {
                    color: var(--light-green);
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}